:root {
  --color-background: rgb(237, 241, 245);
  --color-foreground: rgb(250, 250, 250);
  --color-foreground-grey: rgb(245, 246, 246);
  --color-foreground-grey-dark: rgb(234, 236, 237);
  --color-foreground-blue: rgb(246, 248, 251);
  --color-foreground-blue-dark: rgb(241, 243, 247);
  --color-background-blue-dark: rgb(31, 35, 45);
  --color-background-blue-png: rgba(31, 35, 45, 0.9);
  --color-overlay: rgb(31, 38, 49);
  --color-shadow: rgb(49, 54, 68);
  --color-shadow-dark: rgb(6, 13, 34);
  --color-shadow-blue: rgb(103, 132, 187);
  --color-text: rgb(92, 114, 138);
  --color-text-light: rgb(122, 133, 143);
  --color-text-lighter: rgb(146, 153, 161);
  --color-text-bright: rgb(237, 241, 245);
  --color-blue: rgb(61, 180, 242);
  --color-blue-dim: rgb(141, 178, 219);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-red: rgb(232, 93, 117);
  --color-peach: rgb(250, 122, 122);
  --color-orange: rgb(247, 154, 99);
  --color-yellow: rgb(247, 191, 99);
  --color-green: rgb(123, 213, 85);
  --color-background-100: rgb(251, 251, 251);
  --color-background-75: rgba(237, 241, 245, 0.75);
  --color-background-200: rgb(237, 241, 245);
  --color-background-300: rgb(221, 230, 238);
  --color-background-400: rgb(201, 215, 227);
  --color-background-500: rgb(173, 192, 210);
  --color-background-600: rgb(139, 160, 178);
  --color-background-700: rgb(116, 136, 153);
  --color-background-800: rgb(100, 115, 128);
  --color-background-900: rgb(81, 97, 112);
  --color-background-1000: rgb(64, 78, 92);
  --color-background-1100: rgb(38, 52, 63);
  --color-background-1200: rgb(27, 30, 31);
  --color-gray-100: rgb(251, 251, 251);
  --color-gray-200: rgb(237, 241, 245);
  --color-gray-300: rgb(221, 230, 238);
  --color-gray-400: rgb(201, 215, 227);
  --color-gray-500: rgb(173, 192, 210);
  --color-gray-600: rgb(139, 160, 178);
  --color-gray-700: rgb(116, 136, 153);
  --color-gray-800: rgb(100, 115, 128);
  --color-gray-900: rgb(81, 97, 112);
  --color-gray-1000: rgb(64, 78, 92);
  --color-gray-1100: rgb(38, 52, 63);
  --color-gray-1200: rgb(27, 30, 31);
  --color-blue-100: rgb(247, 250, 252);
  --color-blue-200: rgb(236, 246, 254);
  --color-blue-300: rgb(201, 232, 255);
  --color-blue-400: rgb(143, 215, 255);
  --color-blue-500: rgb(111, 200, 255);
  --color-blue-600: rgb(61, 180, 242);
  --color-blue-700: rgb(8, 143, 214);
  --color-blue-800: rgb(12, 101, 166);
  --color-blue-900: rgb(11, 70, 113);
  --color-blue-1000: rgb(16, 61, 85);
  --color-green-100: rgb(245, 249, 243);
  --color-green-200: rgb(226, 246, 217);
  --color-green-300: rgb(160, 241, 126);
  --color-green-400: rgb(119, 220, 76);
  --color-green-500: rgb(83, 175, 45);
  --color-green-600: rgb(56, 126, 26);
  --color-green-700: rgb(46, 90, 27);
  --color-green-800: rgb(41, 66, 31);
  --color-red-100: rgb(255, 244, 246);
  --color-red-200: rgb(254, 212, 220);
  --color-red-300: rgb(255, 140, 160);
  --color-red-400: rgb(236, 41, 75);
  --color-red-500: rgb(213, 0, 37);
  --color-red-600: rgb(165, 1, 29);
  --color-red-700: rgb(117, 0, 20);
  --font-main: Roboto, Sawarabi Gothic, Segoe UI, Ubuntu, system-ui;
  --font-tips: Overpass, Segoe UI, Ubuntu, sans-serif;
  --font-year: calibri, system-ui;
}

@media (max-width: 991px) {
  #anime-manga .title {
    font-size: small;
  }
}

@media (max-width: 767px) {
  #anime-manga .title {
    display: none;
  }

  button#translate {
    display: none;
  }
}

@media (max-width: 449px) {
  .user-h1 {
    font-size: 6vw !important;
  }

  .user-count {
    font-size: 2.85vw !important;
  }

  .user-info.text * {
    margin-left: 3vw !important;
  }

  .user-pfp {
    width:  20vw !important;
    height: 20vw !important;
  }
}

@media (max-width: 319px) {
  div.last-seen {
    width: 0;
    color: transparent !important;
  }
}

main {
  font-size: 62.5%;
  font-family: var(--font-main);
  line-height: 1.15;
}

p {
  font-size: 1.5em;
}

.pb-3 {
  padding-bottom: 2rem !important;
}

.butt {
  position: fixed;
  top: 90px;
  right: 10px;
  border: none;
  z-index: 100;
}

.invisible {
  display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: var(--color-text);
  background: var(--color-background);
}


.section {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 20px rgba(49, 54, 68, .09);
  padding-block: 4px;
}

.user-info {
  padding: 0;
  margin-bottom: 15px;
}

.user-info * {
  display: inline-block;
  vertical-align: middle;
  margin-block: 0;
}

.user-info.text * {
 margin-left: 25px;
}


.user-pfp {
  border-radius: 4px 0 0 4px;
  height: 100px;
  width: 100px;
  background-size: cover;
}

.user-h1 {
  font-size: 1.9rem;
  font-family: var(--font-tips);
}

.user-count {
  display: block;
  font-size: 1.5em;
}


.medialist {
  font-size: 1.5em;
}

.medialist > :not(caption) > * > * {
  margin: .1em .5em;
}

.entry {
  display: flex;
  align-items: center;
}

.entry-status {
  position: absolute;
  margin: 6px !important;
}

.title {
  flex: 5;
}

.title.CURRENT, .title.REPEATING {
  font-weight: bold;
}

.title.DROPPED {
  font-style: italic;
}

.link {
  border-radius: 3px;
  line-height: 40px;
  width: 40px;
  display: none;
  text-align: center;
  text-decoration: none;
  color: var(--color-background-500);
  background-color: rgb(224, 232, 240);
}

.link:hover {
  color: var(--color-blue);
}

.entry .cover {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 60px;
  height: 48px;
}

.cover .image {
  background-position: 50%;
  background-size: cover;
  border-radius: 3px;
  height: 40px;
  width: 40px;
}

.cover .image.color {
  background-color: var(--color-blue);
}

.entry:hover .cover {
  position: relative;
}

.entry:hover .image {
  box-shadow: 0 2px 20px rgba(49, 54, 68, .3);
  height: 200px;
  left: -160px;
  position: absolute;
  top: -60px;
  width: 140px;
}

.entry:hover .link {
  display: block;
}


div.timeline {
  flex: 10;
  display: flex;
  position: relative;
  background-color: var(--color-background-75);
  margin-right: 15px;
}

div.timeline-row {
  width: 100%;
  height: 24px;
  display: flex;
  z-index: 2;
  pointer-events: none;
}

div.timeline-row.text {
  position: absolute;
  mix-blend-mode: multiply;
}

div.timeline-year {
  /*height: 24px;*/
  border-left: 2px solid white;
  opacity: 80%;
  overflow: hidden;
}

div.timeline-year.text {
  padding-top: 5px;
  padding-left: 7px;
  font-family: var(--font-year);
  font-size: small;
  text-shadow: 0 0 5px #0e121e73;
}

div.timeline-year:first-child {
  border-left: 0;
}


div.timeline-item {
  height: 24px;
  min-width: 4px;
  width: -moz-available;
  width: -webkit-fill-available;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
}

div.releasing {
  --color-blue: var(--color-background-300);
  opacity: 0.75;
  border: var(--color-background-700);
  transition: 0.2s;
}

.timeline:hover div.releasing {
  --color-blue: var(--color-background-400);
  opacity: 1;
  border: 1px dashed var(--color-background-700);
}

div.season {
  color: var(--color-background-700);
  font-family: var(--font-tips);
  font-size: 0.75em;
  white-space: nowrap;
  text-shadow: 0 0 3px #0e121e20;
  margin-top: 26px;
  opacity: 0;
  transition: 0.25s;
}

.timeline:hover div.season {
  opacity: 1;
}

.stripes {
  background:
          repeating-linear-gradient(45deg,    var(--color-blue), #0000 2px, var(--color-blue) 4px),
          repeating-linear-gradient(to right, var(--color-blue), #0000) !important;
}

div.timeline-item .range {
  width: 100%;
  background-color: var(--color-blue)
}


.tip:hover {
  cursor: help;
  z-index: 10;
}

.tip:hover .range {
  opacity: 75%;
}

.hover-box {
  min-width: 24px;
  height: 100%;
  margin-inline: -6px;
}

.tip span {
  padding: 5px;
  z-index: 100;
  background: var(--color-background-blue-png);
  left: 0;
  margin: 10px;
  position: absolute;
  bottom: 15px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 0.8em;
  display: none;
}

.tip:hover span {
  display: block;
}

.tip span p {
  margin-bottom: 0;
  font-family: var(--font-tips);
  font-size: 13px;
}

.tip span p:nth-child(n+2) {
  font-size: 0.8em;
  margin-top: 4px;
  color: var(--color-background-300);
}

.tip span p:only-child {
  margin-top: 4px;
}

.searchbar {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  margin-block: 20px;
}

.search {
  border: 0;
  color: rgb(var(--color-text));
  outline: 0;
  transition: 0.2s;
  line-height: 40px;
  text-align: center;
  padding-inline: 40px;
}

.search:focus {
  box-shadow: 0 1px 10px rgba(49, 54, 68, .2);
}

.search-result {
  text-decoration: none;
}

#result-container {
  display: inline-grid;
}

.search-result .title {
  color: var(--color-text);
  text-decoration: none;
  white-space: nowrap;
  text-align: start;
}

div.last-seen {
  color: var(--color-background-500);
  font-size: 0.75rem;
  padding-right: 20px;
  flex: 3;
  font-weight: bold;
  white-space: nowrap;
  text-align: end;
}