html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*th {
  background: white;
  position: sticky;
  top: 0; !* Don't forget this, required for the stickiness *!
}*/

.user-info * {
  display:inline-block;
  vertical-align: bottom;
}

.user-pfp {
  border-radius: 16px;
}

.title-cover {
  border-radius: 2px;
}

.timeline-row {
  background-color: #f0f0f0
}

.timeline-year {
  position: absolute;
  height: 24px;
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 5px;
  pointer-events: none;
}

.timeline-item {
  height: 24px;
  min-width: 3px;
  color: white;
  display: flex;
  justify-content: center;
}

.timeline-item:hover .on-hover {
  display:block;
}

.on-hover {
  display:none;
}

/*tooltip*/
.tip:hover {
  cursor: help;
  position: relative;
  z-index: 10;
}

.tip span {
  display: none;
}

.tip:hover .xd {
  opacity: 75%;
}

.tip:hover span {
  padding: 5px;
  display: block;
  z-index: 100;
  background: #000b;
  left: 0;
  margin: 10px;
  position: absolute;
  bottom: 15px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.8em;
}