[submodule "src/AniListNet"]
	path = src/AniListNet
	url = https://github.com/bigchunguspng/AniListNet.git
[submodule "src/app-react"]
	path = src/app-react
	url = https://github.com/bigchunguspng/anilist-visualizer-react.git