@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="searchbar">
        <input class="search section" id="user-search" type="text" autocomplete="off" placeholder="Enter your username">
    </div>
    <div id="result-container"></div>
    <p>Go to <a href="https://anilist.co">AniList</a> if you don't get it.</p>
</div>
<script>
$(document).ready(function() {
    const search = $("#user-search");
    
    var temp;

    search.on("input", async function () {
        const text = search.val();

        temp = text;
        await delay(300);
        if (temp != text) return;

        const url = "/search/" + text;

        $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
                $("#result-container").html(data);
            },
            error: function (error) {
                console.error("AJAX error:", error);
            }
        });
    });
});
</script>