@{
    ViewBag.Title = "Home";
    ViewBag.SkipNav = true;
}

<div class="text-center">
    <img class="logo" src="https://i.imgur.com/tgGcE0v.png" alt="AniList Visualizer (WHOLESOME 100 | ifunny.co)">
    <div class="searchbar">
        <input id="user-search" class="search section" type="text" autocomplete="off" placeholder="Enter your username">
    </div>
    <div id="users"></div>
    <p>Go to <a href="https://anilist.co">AniList</a> if you don't get it.</p>
</div>
<script>
$(document).ready(function ()
{
    const search = $("#user-search");

    var tmp;

    search.on("input", async function ()
    {
        const text = search.val();
        tmp = text;

        await delay(300);
        if (tmp != text) return;

        $.ajax
        ({
            url: "/search/" + text,
            method: "GET",
            success: function (data)
            {
                $("#users").html(data);
            },
            error: function (error) { console.error("AJAX error:", error); }
        });
    });
});
</script>